HTTP_ADDR=:8080
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=events
WRITER_BATCH_BYTES=1048576
WRITER_BATCH_TIME=50ms
LOG_LEVEL=info
PRODUCER_BUFFER_CAP=10000
PROMETHEUS_URL=http://prometheus:9090
PG_URL=postgres://bolt:bolt@localhost:5432/boltstream?sslmode=disable
DLQ_TOPIC=events.dlq
GROUP_ID=bolt-consumer